.download__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.download__text__section {
    flex: 1;
    background-color: var(--clr-dark);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    color: var(--clr-light);
    max-width: 5000px;
    margin-top: 55px;
    margin-left: 2px;
    margin-right: 2px;

    flex: 1;
    padding: 10px;
    max-width: 5000px; 
}

.download__text__section h2 {
    padding: 15px;
    font-size: 27px;
    text-align: center;
}

.download__text__section p {

    padding: 15px;
    font-size: 13px;
    text-align: center;
}

.content__btn {
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

.enhance__text {
    font-weight: bold;
}


/* xs */
@media (min-width: 475px) {
    .download__container {
        justify-content: center;
        align-items: center;
    }
    .download__text__section {
        margin-top: 55px;
        margin-left: 30px;
        margin-right: 30px;

        flex: 1;
        padding: 10px;
        max-width: 5000px; 
    }
    
    .download__text__section h2 {
        padding: 15px;
        font-size: 27px;
        text-align: center;
    }
    
    .download__text__section p {
        padding: 15px;
        font-size: 13px;
        text-align: center;
    
    }
    
    .content__btn {
        margin-bottom: 5px;
        text-align: center;
        display: block;
        margin-left: 37%;
    }
    .enhance__text {
        font-weight: bold;
    }
} 
/* sm */
@media (min-width: 640px) { 
    .download__container {
        justify-content: center;
        align-items: center;
    }
    .download__text__section {
        margin-top: 55px;
        margin-left: 75px;
        margin-right: 75px;

        flex: 1;
        padding: 10px;
        max-width: 5000px; 
    }
    
    .download__text__section h2 {
        padding: 15px;
        font-size: 30px;
        text-align: center;
    }
    
    .download__text__section p {
        padding: 15px;
        font-size: 15px;
        text-align: center;
    
    }
    
    .content__btn {
        margin-bottom: 20px;
        text-align: center;
        display: block;
        margin-left: 39%;
    }
    .enhance__text {
        font-weight: bold;
    }
} 
/* md */
@media (min-width: 768px) { 
    
    .content__btn {
        margin-bottom: 20px;
        text-align: center;
        display: block;
        margin-left: 40.5%;
    }

} 
/* Lg */
@media (min-width: 1024px) { 
    .download__container {
        justify-content: center;
        align-items: center;
    }
    .download__text__section {
        margin-top: 55px;
        margin-left: 105px;
        margin-right: 105px;

        flex: 1;
        padding: 10px;
        max-width: 5000px; 
    }
    
    .download__text__section h2 {
        padding: 15px;
        font-size: 30px;
        text-align: center;
    }
    
    .download__text__section p {
        padding: 15px;
        font-size: 15px;
        text-align: center;
    
    }
    
    .content__btn {
        margin-bottom: 20px;
        text-align: center;
        display: block;
        margin-left: 43%;
    }
    .enhance__text {
        font-weight: bold;
    }
} 
/* xL */
@media (min-width: 1280px) { 
    .download__container {
        flex-direction: row;

        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }
    .download__text__section {
        margin-top: 55px;
        margin-left:50px;
        margin-right: 0px;

        flex: 1;
        padding: 10px;
        max-width: 5000px; 
    }
    
    .download__text__section h2 {
        padding: 15px;
        font-size: 34px;
        text-align: center;
    }
    
    .download__text__section p {
        padding: 15px;
        font-size: 17px;

        margin-bottom: 20px;
        text-align: center;
    
    }
    
    .content__btn {
        margin-bottom: 20px;
        text-align: center;
        display: block;
        margin-left: 38%;
    }
    .enhance__text {
        margin-top: 20px;
        font-weight: bold;
    }
} 
/* 2xL */
@media (min-width: 1536px) { 

} 