.slideshow__container {
    flex: 2;
    max-width: 100%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.slideshow__inner {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    position: relative;
}

.mySlides {
    display: none;
    padding-top: 30px;
}

.slideshow__image {
    cursor: pointer;
    width: 100%;
    height: auto; 
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 2em;
    --border-angle: 0turn;
    --main-bg: #213; 
    border: solid 5px transparent;
    --gradient-border: none; 
    background: 
        var(--main-bg) padding-box,
        transparent border-box; 
    background-position: center center;
    animation: none;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.slideshow__image:hover {
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        rgb(133, 67, 199) 95%
    );
    --gradient-border: conic-gradient(from var(--border-angle), transparent 70%, #8a2be2 80%, transparent 95%);
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;
    animation: bg-spin 3s linear infinite;
    transform: translateY(-5px);
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

/* Custom property for border angle animation */
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}


/* xs */
@media (min-width: 475px) {

} 
/* sm */
@media (min-width: 640px) { 

} 
/* md */
@media (min-width: 768px) { 
    
} 
/* Lg */
@media (min-width: 1024px) { 
    
} 
/* xL */
@media (min-width: 1280px) { 
   
} 
/* 2xL */
@media (min-width: 1536px) { 
   
} 