

.container__embed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.embed {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px; 
}

.embed > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(54, 54, 54);
    box-shadow: 1px white;
    margin: 5px;
}

.embed h1 { /* 'sha (name) */
    margin: 20px 0;
    font-size: 1.5em;
}

.quote {
    font-size: 1.2em;
    margin: 15px 0;
    min-height: 23.5px; /* damit embed nicht kleiner/größer wird jenachdem ob text geschrieben ist oder nicht */
}

.link__container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 25px; /* spacing von icons */
    margin: 20px 0; /* gleiches margin wie h1 */
}

.link__container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: background 0.3s;
}

.link__container a:hover {
    background: rgba(0, 0, 0, 0.8);
}

.link__container img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.embed__row {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 10000px;
}

.embed__half {
    text-align: center;
    font-size: 14.5px;
    max-width: auto;
    width: 100%;
}
