.top__container {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-dark);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    max-width: 1800px; 
    margin-left: auto;
    margin-right: auto;
}

.top__description {
    text-align: center;
    font-size: 13px; 
    padding: 20px;
    color: var(--clr-light); 
}
.top__description h1 {
    font-size: 28px;
}

.top__description p {
    margin-top: 10px; 
}

@media (min-width: 475px) {
    .top__description h1 {
        font-size: 30px;
    }
    .top__description {
        font-size: 15px; 
    }
} 

@media (min-width: 640px) { 
    .top__description h1 {
        font-size: 33px;
    }
    .top__description {
        font-size: 17px; 
    }
}
