.welcome__screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    z-index: 1002;
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.welcome__screen h1 {
    font-size: 22px;
    margin: 0;
}
.welcome__screen p {
    font-size: 18px;
    margin: 5px 0;
}
.welcome__screen span {
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20, end);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
