.about__container {
    background-color: var(--clr-dark);
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.about__container h1 {
    font-size: 1.5em;
    margin-bottom: 15px;   
    font-weight: bold;
    color: var(--clr-light);
    text-align: center;
}

.about__container p {
    font-size: 0.8em;
    line-height: 1.6;
    color: var(--clr-light);
    text-align: justify;
}


/* xs */
@media (min-width: 475px) {
    .about__container h1 {
        font-size: 1.6em;
    }
    
    .about__container p {
        font-size: 0.85em;
    }
} 
/* sm */
@media (min-width: 640px) { 
    .about__container h1 {
        font-size: 1.6em;
        margin-bottom: 15px;
    }
    
    .about__container p {
        font-size: 0.85em;
    }
} 
/* md */
@media (min-width: 768px) { 
    .about__container h1 {
        font-size: 1.7em;
        margin-bottom: 15px;
    }
    
    .about__container p {
        font-size: 0.9em;
    }
} 
/* Lg */
@media (min-width: 1024px) { 
    .about__container h1 {
        font-size: 1.7em;
    }
    
    .about__container p {
        font-size: 0.9em;
    }
} 
/* xL */
@media (min-width: 1280px) { 
    .about__container h1 {
        font-size: 1.8em;
    }
    
    .about__container p {
        font-size: 1em;
    }
} 
/* 2xL */
@media (min-width: 1536px) { 
   
} 