.changelog__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.changelog__box {
    background-color: var(--clr-dark);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    color: var(--clr-light);
    max-width: 100%;
}

.changelog__subtitle {
    font-size: 1rem;
    color: var(--clr-yellow-light);
    margin-bottom: 10px;
    text-align: center;
}

.changelog__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.changelog__list {
    list-style-type: disc;
    padding-left: 50px;
    margin-bottom: 15px;
}



.changelog__list li {
    margin-bottom: 10px;
}

.price.original {
    margin-left: 5px;
    color: rgb(212, 18, 18);
    font-weight: bold;

}

.price.reduced {
    color: rgb(6, 224, 6);
    font-weight: bold;

}

.price.minimum {
    color: rgb(0, 89, 255);
    font-weight: bold;
}

.price__box {
    margin-top:15px;
}