@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root{
    --clr-dark: #05060a;
    --clr-light: #ffffff;
    --clr-lightish: #07080e;
    --clr-lightblue: #161a2c;
    --clr-lightish1: #0e111d;
    --clr-slate400: #929295;
    --clr-slate600: #606163;
    --clr-slate800: #333336;
    --clr-yellow-dark: #f7ca37;
    --clr-yellow-light: #ffdf7e;

    /* yellow dark rgb(240, 185, 9) */
    /* yellow light rgb(255, 223, 126) */

    /* --size-: ; */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-large: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    line-height: calc(1em + 0.5rem);
    font-family: 'Montserrat', sans-serif;

}

html{
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: linear-gradient(29deg, var(--clr-dark), var(--clr-lightish), var(--clr-lightish1));
    background-attachment: fixed;
    color: var(--clr-light);
    font-size: 17px;
    flex-direction: column;
}

img,
picture,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border:none;
    background:none;
    cursor: pointer;
    color: inherit;
}

a{
    text-decoration: none;
    color: var(--clr-yellow-light);
}