
/* xs */
/* @media (min-width: 475px) {

} */
/* sm */
/* @media (min-width: 640px) { 

} */
/* md */
/* @media (min-width: 768px) { 
    
} */
/* Lg */
/* @media (min-width: 1024px) { 
    
} */
/* xL */
/* @media (min-width: 1280px) { 
   
} */
/* 2xL */
/* @media (min-width: 1536px) { 
   
} */


.btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background: var(--clr-yellow-dark);
    color: black;
    border-radius: 6px;
    transition: transform 0.3s, box-shadow 0.3s;    
    padding: 0.3em 0.6em;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(240, 185, 9), 0 3px 3px rgb(255, 223, 126, 0.0),
    0 3px 3px rgb(255, 223, 126, 0.0), 0 0 25px -15px
    var(--clr-yellow-dark);       
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
} 

.section {
    margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
        
    }
    .btn{
        padding: 0.3em 0.4em;
    }
}
/* sm */
@media (min-width: 640px) { 
    .container {
        max-width: 640px;
    }
    .btn{
        padding: 0.3em 0.5em;
    }
}
/* md */
@media (min-width: 768px) { 
    .container {
        max-width: 768px;
    }
    .btn{
        padding: 0.3em 0.6em;
    }
}
/* Lg */
@media (min-width: 1024px) { 
    .container {
        max-width: 1024px;
    }
    
    .section{
        margin-top: 10rem;
    }
    .btn{
        padding: 0.3em 0.7m;
    }
}
/* xL */
@media (min-width: 1280px) { 
   .container {
        max-width: 1280px;
    } 
    .btn{
        padding: 0.3em 0.7em;
    }
}
/* 2xL */
@media (min-width: 1536px) { 
   .container {
        max-width: 1536px;
    } 
    .btn{
        padding: 0.4em 0.9em;
    }
}
